@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.wrapper {
  margin: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  height: 200px;
  background: url("/img/logo.jpg") 0 0/100% auto no-repeat;
}

a {
  color: #fff;
}

.content__flex {
  background: #EAB52E;
  margin: 0px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.content__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__list {
  background: #169258;
}
.content__h1 {
  width: 360px;
  font-weight: 600;
  color: #000;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}
.content__ullist {
  color: #fff;
}
.content__ullist li {
  background: url(/Fronted/site/Site/Site/img/);
  padding: 10px;
  text-decoration: underline;
}
.content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.content__H1 {
  margin: 0px 0px 0px 10px;
  font-weight: 800;
  font-size: 22px;
  padding: 10px 0px 20px 0px;
}
.content__text {
  font-weight: 500;
  padding: 10px;
  line-height: 140%;
  text-indent: 10px;
}

img {
  width: 250px;
  margin: 10px 5px 10px 5px;
}

.contact {
  font-weight: 600;
  text-decoration: underline;
  background: #6666;
  margin: 10px 10px 10px 0px;
  padding: 20px 160px;
}
.contact:hover {
  color: #06111C;
}

.footer {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2E57EA;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}